@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

:root {
    --font-family: "Inter", sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --black: 700;
    --bold: 600;
    --regular: 400;
    --light: 300;
    --dark: #010101;
    --darkgrey: #333;
    --white: #fcfcfc;
    --primary: #E88BB2;
    --secondary: #E8B6CB;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--regular);
    line-height: var(--line-height);
    color: var(--dark);
    background-color: var(--white);
}

label {
    text-indent: 10px;
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid var(--primary);
}

a,
.link {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary);
}

a:hover,
.link:hover {
    text-decoration: underline;
}

.btn {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 600;
    width: 12rem;
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 22px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

.primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.secondary {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.previous-page-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}