body {
    background-color: var(--darkgrey);
}
.container {
    display: grid;
    place-items: center;
}
.content {
    background-color: var(--white);
    padding: 2rem;
    border: none;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.logo-siac {
    align-self: flex-start;
    height: 200px;
    object-fit: contain;
}
